[submodule "libs/fontawesome"]
	path = libs/fontawesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "libs/mediaelement"]
	path = libs/mediaelement
	url = https://github.com/johndyer/mediaelement
